<div class="container">
  <div class="row">
    <div class="col-cs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email"
              formControlName="email"
            />

            <span
              class="help-block"
              *ngIf="
                !signupForm.get('userData.email').valid &&
                signupForm.get('userData.email').touched
              "
              >Please enter valid email</span
            >
          </div>
          <div class="form-group">
            <label for="exampleInputUsername">Username</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername"
              placeholder="Username"
              formControlName="username"
            />
            <span
              *ngIf="
                !signupForm.get('userData.username').valid &&
                signupForm.get('userData.username').touched
              "
            >
              <span
                *ngIf="
                  signupForm.get('userData.username').errors['nameIsForbidden']
                "
                class="help-block"
              >
                Name is FORBIDDEN</span
              >
              <span
                *ngIf="signupForm.get('userData.username').errors['required']"
                class="help-block"
                >This field is required</span
              >
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label for="">
            <input
              type="radio"
              name="gender"
              [value]="gender"
              formControlName="gender"
            />
            {{ gender }}
          </label>
        </div>

        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHoby()">
            Add Hobby
          </button>
          <div
            class="form-group"
            *ngFor="
              let hobbyControl of signupForm.get('hobbies').controls;
              let i = index
            "
          >
            <input type="text" class="form-control" [formControlName]="i" />
          </div>
        </div>

        <span
          *ngIf="!signupForm.valid && signupForm.touched"
          class="row help-block"
          >Please enter valid data!</span
        >
        <button
          [disabled]="!signupForm.valid"
          type="submit"
          class="btn btn-primary mt-2"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
